.state {
  fill: #e3e3e3;
  stroke: #fff;
  stroke-width: 0.75;
  stroke-opacity: 1;
}

.state:hover {
  fill: #d3d3d3;
  cursor: pointer;
}

h2 {
  margin-bottom: 0;
  margin-right: 10px;
}

#map {
  text-align: center;
  margin-top: 40px;
}

#info {
  text-align: center;
}

#info div:first-child {
  margin-right: 50px;
}

#info * {
  display: inline-block;
}
